* {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.curs{font-family: 'Satisfy', cursive;font-weight: 300;font-size: 30px;}
html{ height: 100%;}
body{background-color: #fcfcfc;margin: 0px;}
body * { box-sizing: content-box;  color: #454545;font-family: 'Lato', sans-serif;}
/** h1,* h2{
font-family: 'Lato', sans-serif;}*/
 h1{
   margin: 0}
/** p,a{
    font-family: 'Lato', sans-serif;}*/
.pmenu h1,.pmenu h2,.pmenu h3,.pmenu p {margin: 0px;color: #454545;}
.footer h1,.footer h2,.footer h3,.footer p {margin: 0px;color: #454545;}
* p{font-size: 16px}

@media screen and (min-width:750px){
    * p{font-size: 18px}
    
}
a{text-decoration: none !important; color: #454545; }


/*
body.contact  .dmn6 span{width: 120px;}
body.offers  .dmn5 span{width: 90px;}
body.services  .dmn4 span{width: 90px;}
body.product  .dmn3 span{width: 110px;}
body.about-us  .dmn2 span{width: 100px;}
body.home  .dmn1 span{width: 60px;}
*/


/*  ----------------- e:general things------------------*/

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../common/images/preload.gif) center no-repeat #f9f9f9;background-size: 130px;background-color: white;background-position: 50% 200px;
    
}

/*scale*/
.col-7 {
    padding: 10px 10px;
}
/*scale*/

.active1::before{
    content: "";
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 50%;
    bottom: 0;
    width: 50px;
    background: #993233;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
/*topnav*/
.top-nav{
   display: none;
}

@media (min-width:600px){
    .top-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 50px;
       height: 25px;
        background-color: #f5f5f5;
    }
    .btn-pln{
        border: 0px;
        background: #da5050;
        color: #fcfcfc;
        padding: 5px 15px;
        font-size: 12px;
        border-radius: 15px;
        cursor: pointer;
    }
    .top-nav a{font-size: 16px;font-weight: 500}
    .lft-prt img{
        width: 20px;
            position: relative;
   top: 4px;
            
    }
    .rgt-prt a,.lft-prt a{
        color: #707070 !important;
    }
    .rgt-prt,.lft-prt{
        padding: 0px ;
        
    }
    .rgt-prt{
        display: flex;
        flex-direction: row;
    }
    .rgt-prt a img{
        width: 25px;
        filter: grayscale(100%);
    }
    .lft-prt{
        display: flex;
        flex-direction: row;
        width: 300px;border: 1px olid black;
       justify-content: space-between;
    }
}
@media (min-width:1000px){
    .lft-prt{
        display: flex;
        flex-direction: row;
        align-items: center;
           }
}
@media (min-width:1300px){
    .lft-prt{
        display: flex;
        flex-direction: row;
       
    }
}

/*topnav*/
/*navigation*/
a{
    text-decoration: none;
    color: #993233;
}
.bar-con{
    position: absolute;
    top: 20px;
    left: 10px
}
.bar{
   
    width: 35px;
    height: 5px;
    background-color:#993233;
    margin: 6px 0;

}

.nav{
    background: #fcfcfc;
    width: 100%;
    position: relative;
}
.brand{
   display: flex;
    justify-content: center;
    padding: 10px 0px;
    
}
.brand a{
    font-size: 25px;
        font-weight: 900;
}
.brand a img{
    width: 200px;
    position: relative;
    left: 20px;
}
.navlst{
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
   position: absolute;
    left: -150%;
 -webkit-transition: 0.7s;
 -moz-transition: 0.7s;
 -o-transition: 0.7s;
 -ms-transition: 0.7s;
    transition: 0.4s;
        z-index: 10;
    height: 400px;
        width: 100%;
}
#submnu1{
    display: none;
}
.navlst a{
    padding: 10px;
    color:#454545;
    display: block;
    font-size: 25px;
    font-weight: 600;
}
.nav-web{
    display: none;
}
.sub-mne{
    display: flex;
}
.sub-mne a{
   font-size: 16px;
    font-weight:600;
}
 
.navlst a {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.navlst a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left:10px;
  right: 100%;
  bottom: 0;
  background: #993233;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navlst a:hover:before, .navlst a:focus:before, .navlst a:active:before {
  right: 50%;
}
.sub-mne a {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
    cursor: pointer;color: #454545;
}
.sub-mne a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left:20px;
  right: 100%;
  bottom: 0;
  background: #993233;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sub-mne a:hover:before, .sub-mne a:focus:before, .sub-mne a:active:before {

}
.sub-mne a:hover{color: #993233;}
@media(min-width:1000px){
  #submnu1{
    display: flex;
      z-index: 1;
          background: #fcfcfc;
}
    .bar-con{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .brand a img{
    width: 220px;
    position: relative;
    left: 0px;
}
    .brand a{
        color: #993233;
        font-size: 25px;
        font-weight: 900;
    }
    .brand{
   display: flex;
        padding: 10px 50px;
    }
    .nav-web{
        display: flex;
        width: 800px;
        justify-content: space-between;
        padding: 10px 50px;
        padding-top: 25px;
    }
    .nav-web a{
        padding: 10px 0;
        color: #757575;
        font-weight: 600;
    }
    .bar-con1{
    /*position: absolute;*/
        cursor: pointer;
}
.bar1{
   
    width: 35px;
    height: 5px;
    background-color:#993233;
    margin: 6px 0;

}
    
/* Underline From Left */
.nav-web a {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.nav-web a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #993233;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-web a:hover:before, .nav-web a:focus:before, .nav-web a:active:before {
  right: 50%;
}
    
    .bar-con1{
        position: relative ;
    }
    .sub-mne{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 50px;
        top: 60px;
        padding: 10px;
        opacity: 0;
    }
    .sub-mne a{
        text-align: left;
        padding: 10px 20px
    }
/* Underline From Center */
}
/*navigation*/
.footer-sec{
    background: grey;
    padding: 30px 0;
   margin-top: 2em;
    
}
.fot-h1{
    color: #9b3236;
}
.fot-hd-p{
    text-align: center;
    margin: 0;
}
.fot-h2{
        padding-left: 5px;
    margin-bottom: 10px;
}
.foot-p{
    text-align: justify;
        font-size: 12px;
    line-height: 20px;
}
.fnt-fot{
   margin-bottom: 10px; 
}
.fot-hed{
    text-align: center;
    margin-bottom: 10px;
}
.fot-btl{
    border-bottom: 3px solid #9b3236;
}
.fir-div{
  display: flex;
  flex-direction: row;
    padding: 0 50px;
}
.sep-clr{
   color: #9b3236; 
}
.col-3{
    width: 25%;
    padding: 5px
}
.foot-nme{
     background: url(images/user.png) left no-repeat;
        color: #fff;
}
.foot-mob{
     background: url(images/mobile.png) left no-repeat;
}
.foot-mail{
     background: url(images/mail.png) left no-repeat;
}

.list-img{
    background: url('images/re-icon.png');
 padding-left: 30px;
    list-style: none;
    background-repeat: no-repeat;
        font-size: 12px;
    line-height: 20px;
}
ul.list-sty li a {
    color: #454545;
}
.sl-img{
    width: 60px;
    vertical-align: middle;
    height: 40px;
}
.gal-div{
    display: flex;
    flex-direction:row;
}
.list-sty{
   padding-left: 20px;
    list-style-type: circle;
        font-size: 12px;
    line-height: 20px;
}
.cpy{
    background: #c53334;
        border: 1px solid #c53334;
}
.cpy-txt{
    text-align: center;
    padding: 0px;
    color:#fcfcfc;
   
}
.cpy-txt p{
    color: #fcfcfc;
    font-size: 13px;
}
@media(max-width:450px){
    .sl-img {
    width: 65px !important;
    vertical-align: middle;
    height: 60px !important;
}
}
@media (min-width:500px) and (max-width:700px){
    .sl-img {
    width: 100px !important;
    vertical-align: middle;
    height: 80px !important;
}
}
@media (max-width:800px){
    .fir-div {
    display: flex;
    flex-direction: row;
    padding: 0 5px !important;
}
}
@media only screen and (max-width:700px){
    .footer-main{
    flex-direction: column;
}
  
    .footer-block{
    width: 100%;
}
   .fir-div{
  display: flex;
  flex-direction: column;
} 
    .col-3{
        width: 98%;
    }
    input::placeholder{
        text-overflow: ellipsis;
    }
}
@media only screen and (max-width:500px){
    .footer-main {
    padding: 0; 
}
    .foot-form {
    padding: 30px 10px;
}
}
@media (max-width:1200px){
    .sl-img{
    width: 48px;
    vertical-align: middle;
    height: 40px;
}
}
button:focus{
    outline: none;
}
@media (max-width:700px){
    .top-nav{
        display: none;
    }
}
@media(min-width:700px){
    .col-3 .lgo img{
    width: 150px;
    position: relative;
    margin: auto;
    display: block;
    top: 15px;
    }
}
.col-3 .lgo img{
    width: 150px;
    position: relative;
    margin: auto;
    display: block;
    top: 15px;
    }
/*footer*/

/*at 1700 above*/
@media(min-width:1700px){
    .nav-web a{
        font-size: 20px;
    }
    .lft-prt a{
        font-size: 20px
    }
    .lft-prt img{
        width: 25px;
    }
    .lft-prt{
        width: 400px;
    }
    .rgt-prt a img {
    width: 30px;
    filter: grayscale(100%);
}
    .fot-img img {
    vertical-align: middle;
    width: 120%;
}
    .bar1 {
    width: 35px;
    height: 6px;
}
    .sub-mne {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 50px;
    top: 70px;
    padding: 10px;
    opacity: 0;
}
    .sub-mne a {
   font-size: 20px;
        
}
    p{
        font-size: 22px;
    }
    
    h1 {
    font-size: 35px;
    margin: 0;
}
    .gala-act p {
    font-size: 20px;
    font-weight: 600;
}
    .gala-cape .cape-img {
    width: 50px !important;
    }
    .cap-hd1 h3, .cap-hd1 p {
    color: #fcfcfc;
    margin: 0;
    text-align: center;
    font-size: 25px;
}
    .gala-cape .cap-hd1 p {
    font-size: 18px !important;
    text-align: center;
    margin: 0 auto;
        width: 350px !important;
}
    .gala-cape {
    position: absolute;
    left: 20px !important;
    opacity: 1;
    top: 70px;
    margin: auto;
}
    .fot-img {
    display: flex;
    flex-direction: row;
    height: auto;
}
    .foot-p {
    text-align: justify;
    font-size: 18px;
    line-height: 20px;
}
    .list-img {
    font-size: 18px;
    }
    .sl-img {
    width: 100px;
    vertical-align: middle;
    height: 80px;
}
    .list-sty {
    font-size: 18px;
    line-height: 20px;
}
    .cpy-txt p {
    color: #fcfcfc;
    font-size: 18px;
}
    .col-3 .lgo img{
    width: 180px;
    position: relative;
    margin: auto;
    display: block;
    top: 15px;
    }
    input::placeholder{
        font-size:20px;
    }
    .close span {
    top: 15px !important;
    position: relative;
    color: #fcfcfc;
}
.close {
    position: absolute;
    border: 2px solid #fcfcfc !important;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    top: 0px;
    right: 20%;
    text-align: center;
    z-index: 100;
    display: none;
    cursor: pointer;
}
.col-7 h3 {
    font-weight: 500;
    font-size: 25px;
}
.sec2-hd h2 {
    color: #454545;
    font-weight: 500;
    font-size: 30px;
}
    .foot-msg{
        font-size: 25px;
    }
    .nav-web {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    padding: 10px 50px;
    padding-top: 25px;
}
    .nav-web a {
    font-size: 25px;
}
    .gala-cape .cap-hd1 h3 {
    text-align: center;
    margin: 0px;
    font-size: 30px !important;
    color: #fcfcfc;
}
    .gala-cape {
    position: absolute;
    opacity: 1;
    top: 70px;
    margin: auto;
    left: 60px !important;
}
    
     .gala-act p {
    font-size: 20px;
    font-weight: 600;
}
    
}
/*at 1700 above*/



.glli{
    position: absolute;
    width: 50% !important;
    left: 50% !important;
    top: 0px;
   height: auto !important;
    transform: translateX(-50%);
    z-index: 9999;
}
.blck{
    background: #000000;
    height: 100vh;
    position:fixed;
    width: 100%;z-index: 10;
    top: 0px;
    opacity: 0.8;
    display: none;
}
.close span{
    top: 5px;
    position: relative;
   color: #fcfcfc;
}
.close{
    position: absolute;
    border: 1px solid #fcfcfc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 0px;right: 20%;
    text-align: center;
    z-index: 100;
    display: none;
    cursor: pointer;
    
}
@media(max-width:500px){
    .close{
        right: 5%;
        top: -50px;
    }
    .glli{
    position: absolute;
    width: 80% !important;
    left: 50% !important;
    top: 0px;
   height: auto !important;
    transform: translateX(-50%);
    z-index: 9999;
}
}
input::placeholder{
    margin: 0;
    position: relative;
    top: 4px;
}
input[type="email"]::placeholder{
    position: relative;
    left: 4px
}



/*s: gallery final */

.a-con{
    position: relative;
}
.galar-main{
    display: flex;
}
.gala-hd,.gala-para{
    text-align: center;
}
.gala-act{
    display: none;
}
.gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        animation: fun 1s;
        position: relative;
    }
    .gala-imgs img{
        width: 150px;

        vertical-align: middle;
        /*height: 100%;*/
    }

         vertical-align: middle;
    
            }

    galar-main{
        margin: 0
    }
    
.gala-cape{
    position: absolute;
   left: 10px;
    opacity: 1;
    transform: scale(0.8);
}
.gala-cape .cape-img{
    width: 20px;
    position: relative;
    display: block;
    margin: auto;
    
}/**/
.gala-cape .cap-hd1 p{color: #fcfcfc;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    
}
.gala-cape .cap-hd1 h3{text-align: center;margin: 0px;font-size: 15px;color: #fcfcfc}
       .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
           font-size: 15px
}

@media screen and (min-width:500px){.gala-imgs img{
        width: 250px;
       
    }
}

@media(min-width:600px){
    .gala-act{
    display: none;
}
.gala-hd,.gala-para{
    text-align: center;
}
    .gala .a-con {
   
    }
    
.gala-act p{
    font-size: 15px;
    font-weight: 600;
   
}
.galar-main{
    display: flex;
}
    .gala-para{
         width: 400px;
        margin: auto
    }
    .gala-act{
        display: none;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
    }
    .gala-act p {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
padding: 5px 0;
        cursor: pointer;
        
}
.gala-act p:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #993233;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.gala-act p:hover:before, .gala-act p:focus:before, .gala-act p:active:before {
  right: 50%;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        animation: fun 1s;
            position: relative;
    }
    .gala-imgs img{
        width: 100%;
       
    }
    galar-main{
        margin: 0
    }
    
.gala-cape{
    position: absolute;
    /* top: 60px; */
    left: -10px;
    opacity: 1;
    transform: scale(0.8);
}
.gala-cape .cape-img{
    width: 30px;
    position: relative;
    display: block;
    margin: auto;
    
}
    .gala-imgs a{
        width: 25%;
    }
.cap-hd1{
    padding: 0px 5px;
}
.cap-hd1 h3,.cap-hd1 p{
    color: #fcfcfc;
    margin: 0;
    text-align: center
}
.gala-cape .cap-hd1 p{
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    
}
}

@media(min-width:700px){
    .gala-act{
    display: none;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: flex-start;
    }
    .gala-imgs a{
        width: 25%;
    }
    .gala-imgs img{
        width: 100%;
        
    }
    .gala-act{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
        
    }
    
}
@media(min-width:700px){
    .gala-act{
    display: none;
}
    .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
}
@media(min-width:850px){
    .gala-act{
    display: none;
}
    .gala-cape {
    position: absolute;
    left: 0px;
    opacity: 1;
        top: 30px;
}
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
}
    .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
}
@media(min-width:1000px){
    .gala-cape {
    position: absolute;
    left: 20px;
    opacity: 1;
    top: 40px;
    margin: auto;
    }
        .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
    .gala-cape cap-hd1 h3, .gala-cape cap-hd1 p {font-size: 20px}

}
@media(min-width:1100px){
    .gala-cape {
    position: absolute;
    left: 30px;
    opacity: 1;
    top: 50px;
    margin: auto;
       transform: scale(1);
    }
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    
}
}
@media(min-width:1250px){
    .gala-imgs img{
        width: 100%;
       
       
    }
        .gala-cape {
    position: absolute;
    left: 50px;
    opacity: 1;
    top: 70px;
    margin: auto;
    }
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    
}
    
}
 
/*gallery*/



/*e: gallery final */




/*ftr from*/
/*frm-grp*/
.marks-div{
    width: 50%;
    
}
.grad{width: 50% }
.back-blu{
    background: rgb(38,137,201);
    height: auto;
    padding: 10px;
}
.form-container{
    background: rgb(246,247,249);
    height: auto;
    border-radius:10px;
}
.frm-hd{
    padding: 10px 10px;
}
.frm-hd h4{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}
.frm-con{
    display:flex;
    flex-direction: column;
    
}
 form input{
     width: 100%;
}
.frm{
    /*border: 1px solid;*/
    display: flex;
  /* justify-content: center;
    align-items: center;*/
    padding: 20px;
}
.usernme{
    padding: 20px;
    border-radius: 5px;
    border-image:unset;
    border-width:0;
    border: 1px solid #ddd;
    transition: transform 1s;
}
 select{
       padding: 20px;
        border-radius: 5px;
        border-color: #ddd;
        width: 100%
    }

.usernme::-webkit-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-moz-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-o-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-ms-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
}

input:focus {
    outline: -webkit-focus-ring-color auto 5px;
    border: none;
    /*border-radius: 5px;*/
}
input:focus::-webkit-input-placeholder {
  transform: translateY(-100%);
  font-size: 14px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('images/calendar.svg') no-repeat;
    width: 20px;
    height: 20px;
   padding: 0;
    margin: 0;
    
}
.submit{
        width: 50%;
        padding: 10px ;
        border-radius: 10px;
        border-color:rgb(38,137,201);
        background-color:rgb(38,137,201);
        color: #fcfcfc;
    border-width: 0;
    }
.ares{
    padding: 20px;
}



/*footer*/
.footer{
    margin: 10px auto;
     /*background: rgb(246,247,249);*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 16px;
}
.txt-1{
    text-align: center;
    font-size: 10px;
}
/*footer*/
/*frmback*/
@media only screen and (min-width:600px){
   

    
    
    
    .frm-con{
    display:flex;
    flex-direction: row;
}
 form input{
     width: 100%
}
.frm{
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
   
    padding:10px 20px;
    width: 100%;
}
     select{
       padding: 20px;
        border-radius: 5px;
        border-color: #ddd;
        width: 100%;
    }
    .form-container{
        padding: 20px 10px;
    }
    .back-blu{
        padding: 50px 20px;
    }
    .frm1{
       display: flex !important;
    flex-direction: column !important;
      width: 95%;
        margin: 0px;
        position: relative;
    }
    .check{
        position: absolute;
        border: 1px solid;
    }
    .footer{
    margin: 10px auto;
    /*padding: 10px;*/
  /*background: rgb(246,247,249);*/
    height: auto;
    display: flex;
    flex-direction: row;
        justify-content: space-around;
}
    .frm-btn{
        display: flex;
        justify-content: flex-end;
        
    }
    .submit{
        width: 35%;    max-width: 200px;    padding: 15px 20px;    font-size: 20px;    text-transform: uppercase;    border-radius: 5px;
    }
    .frm-tr{
        display: flex;
        width: %;
        justify-content:space-between;
    }
    .frm-tr input{
        width: 90%;
    }
    .frm-tr .p-txt{
        padding:0 50px;
    }
    .out-con{
        display: flex;
        
    }
    
}
@media only screen and (min-width:1000px){
    .form-container{
        padding: 20px 0px;
    }
    .back-blu{
        padding: 50px 100px;
    }
    .frm1{
        display: flex !important;
    flex-direction: column !important;
      width: 94%;
        margin: 0px
        position: relative;
    }
   
}
 @media only screen and (min-width:1200px){
    .form-container{
        padding: 20px 100px;
    }
    .back-blu{
        padding: 50px 250px;
    }
}




/* Removes the clear button from date inputs */
/*input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="time"]::-webkit-clear-button {
    display: none;
}*/

/* Removes the spin button */
/*input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
input[type="time"]::-webkit-inner-spin-button { 
    font-size: 20px; padding-top: 20px;padding-right: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
    color: #8D99AE;
}*/


/* start: date of birth */
   #clet1,#clet21,#clet2,#clet22, #clet3,#clet23,#clet24{ font-size: 100%; width: 70%; margin: 10px 0px; margin-left: 55px;}
#cletf1, #cletf2, #cletf3{display: flex; justify-content: center; align-items: center; /*width:93%;*/ margin: auto;margin: 20px;}
#clet21, #clet22, #clet23,#clet24 {display: flex; justify-content: center; align-items: center; width: 100%; margin-left: 10px; margin: 0px 20px;margin-left:0;     font-size: 14px; }

#clet21 input, #clet22 input,#clet24 input,#clet23 input { width: 95%; /*height: 50px;*/  padding-left: 20px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);*/border:1px solid #ddd; font-size: 100%; color: #2B2D42;
transition: width 0.3s, box-shadow 0.3s;
}
#cletf1 input, #cletf2 input, #cletf3 input, #cletf5 textarea,#cletf2 select{ width: 100%; height: auto; padding: 20px 0px; padding-left: 10px;  border-style: none; border-radius: 5px; background-repeat: no-repeat; background-position: 3px ;border:1px solid #ddd; font-size: 14px; color: #2B2D42;
transition: width 0.3s, box-shadow 0.3s;
}


.frm_textarea{padding:0 0 0 20px;}.frm_textarea textarea{border-radius:5px;border:1px solid #ddd;width:100%;}.cnfr{padding-left:35px;position:relative;}.cnfr .checkmark{left:0;top:-2px;}.grad p{padding-top:10px;}.ram-con{padding-left:20px;padding-top:20px;min-width:135px;}.ram-con label{top:-6px;position:relative;margin-left:2px;margin-right:10px;}input.error{border:1px solid red;}label.error{display:none !important;}
@media screen and (min-width:600px){
    #cletf1, #cletf2, #cletf3{display: flex; justify-content: center; align-items: center; width:100%; margin: auto;margin: 0px 20px;}
    
}
@media screen and (max-width:1000px){

    #clet1, #clet2, #clet3{width: 100%;margin: 0px 5px}}


@media screen and (max-width:810px){
      #clet1,#clet21,#clet2,#clet22, #clet3,#clet23,#clet24{ font-size: 100%; width: 100%; margin: 10px 0px; margin-left: 0px;}}

@media screen and (max-width:480px){
    #clet3,#clet23,#clet24{ font-size: 100%; width: 100%; margin: 10px 0px; margin-left: px;}}
/* end: date of birth */


/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}
/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
    color: #8D99AE;
}

input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: '' !important;
}
input[type="date"]{border-radius: 5px;outline: none;}

#cletf2 select{color: #717171; font-size: 16px;width: 100% !important;}


/*input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: noe;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}*/

.date_frm{padding-right:0;margin-right:0 !important;}#clet23.date_frm .textbox-n{padding-left:10px;box-shadow:none;border:1px solid #ddd;border-radius:5px;padding:4px 15px;}.frm-btn .submit{cursor:pointer;}.cnfr label.error {    display: block !important;    color: red;    font-size: 11px;}
/*@media screen and (max-width:639px){	#cletf1, #cletf2, #cletf3,.marks-div{width:uto;}	.frm_textarea{padding:0 20px 0 20px;}	.frm_textarea textarea{box-sizing:border-box;}	.frm.grad{display:block;}	.frm.grad .p-txt br{display:none;}	.ram-con{padding-left:0;}}*/

/*def*/

.frmgrp-cnt{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    background: #fcfcfc;
    border: 1px olid;height: 
}
.frmgrp-cnt *{border: 1px olid}
.frm-imgcon{
    width: 200px;
}
.frm-imgcon img{
    width: 100%;
    display: none;
}
.hfrm{
    display: none;
}
.frm-tit{
    text-align: center;padding: 0px 5px;
        font-size: 24px;
    font-weight: 400;
}
.sub-mit{
    width: 100px;
    border: none;
    padding: 10px;
    color: #C71484;
    background:#fcfcfc;
    border: 2px solid #C71484;
    border-radius: 10px;
    font-size: 18px;margin-bottom: 20px
}
.subcon{
    display: flex;
    justify-content: center;
}
@media(min-width:800px){
    .frmgrp-cnt{
    display: flex;
    flex-direction: row;
        /*border: 1px solid red;*/
        justify-content: space-around;
       
        position: relative;
        margin: 00px 0px;
        
}
    .frm-contr{
        position: relative;
        left: 0px;
        margin-bottom: 10px;
    }
    .frm-imgcon{
        width: 200px;

        background: url(images/handsk.jpg)no-repeat;
        background-size:cover;
        padding: 4vh;
        background-position: 100% 10%;
        position: absolute;
        top:10px;
       transform: scale(1.1);
        height: 600px;
        left: 30px;
        display: none;
    }
    .frm-imgcon img{
    width: 100%;
        
    display: block;
}
    .hfrm{
    visibility: hidden;
}
}
@media(min-width:1200px){
    .frmgrp-cnt{
    display: flex;
    flex-direction: row;
        /*border: 1px solid red;*/
        justify-content: space-around;
        
        position: relative;
        /*margin: 50px 0px;*/
        
}
    .frm-contr{
        position: relative;
        /*left: 50px;*/
        margin: 10px 0px;
    }
    .frm-imgcon{
        width: 200px;
            z-index: 2;
        background: url(images/handsk.jpg)no-repeat;
        background-size:cover;
        padding: 4vh;
        background-position: 100% 10%;
        position: absolute;
        top:10px;
       transform: scale(1.3);
        height: 600px;
        left: 200px;
        display: block;
        border-bottom: 3px solid #d01818;
        box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);
    }
    .frm-imgcon h1{
     color: #fcfcfc;
        text-align: center;
            border-left:3px solid #d01818;
        border-right:3px solid #d01818;
    }
    .frm-imgcon img{
    width: 100%;
        
    display: block;
}
    .hfrm{
    visibility: hidden;
}
}
/*def*/


textarea {
    resize: none;
}
/*frm-grp*/
@media (min-width: 1300px)
.frm-contr {
    position: relative;
     left: 50px; 
    margin: 10px 0px;
}
}
/*bbb*/
.bxsh{
   
    display: flex;
    flex-direction: column;
    
}
.cnt-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.cnt-cons{
    background: url(images/birthday-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.cnt-cons p,.cnt-cons h1{color: #fcfcfc;text-align: center;}
.cnt-cons h1{padding-top: 100px;font-size: 45px }
.cnt-cons p{font-size: 24px;}

.cnt-conb{
    background: url(images/brand-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.cnt-conb p,.cnt-conb h1{color: #fcfcfc;text-align: center;}
.cnt-conb h1{padding-top: 150px;font-size: 40px }
.cnt-conb p{font-size: 24px;}

.cnt-conc{
    background: url(images/brand-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.cnt-conc p,.cnt-conc h1{color: #fcfcfc;text-align: center;}
.cnt-conc h1{padding-top: 100px;font-size: 45px }
.cnt-conc p{font-size: 24px;}
.flttr1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #C71585;
    opacity: 0.6;
}

.cnt-coni{
    background: url(images/home-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.cnt-coni p,.cnt-coni h1{color: #fcfcfc;text-align: center;}
.cnt-coni h1{padding-top: 150px;font-size: 40px }
.cnt-coni p{font-size: 24px;}

.cnt-conl{
    background: url(images/live-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.cnt-conl p,.cnt-conl h1{color: #fcfcfc;text-align: center;}
.cnt-conl h1{padding-top: 150px;font-size: 45px }
.cnt-conl p{font-size: 24px;}

.cnt-conwi{
    background: url(images/wedding-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.cnt-conwi p,.cnt-conwi h1{color: #fcfcfc;text-align: center;}
.cnt-conwi h1{padding-top: 100px;font-size: 45px }
.cnt-conwi p{font-size: 24px;}

.flttr1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #C71585;
    opacity: 0.6;
}
.f3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:0 auto !important;
    
}
@media(min-width:800px){
    .frmfield {
    padding-top: 50px;
}
.frm {
    margin: 10px 0px;
}
    .bxsh{
        width: 100%;
        display: flex;
        flex-direction:row;
         justify-content: center;
}
    .cnt-img{
    width: 50%;
    height: auto;
   
}
    .frm-contr{width: 50%;padding: 0px 30px}
    .cnt-cons{
    background: url(images/formbg.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 90%,0%;
}
    
    .cnt-conb{
    background: url(images/brand-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 90%,0%;
}
    .cnt-conc{
    background: url(images/corporate-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 90%,0%;
}
    
    .cnt-coni{
    background: url(images/home-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 90%,0%;
}
    
    .cnt-conl{
    background: url(images/live-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 90%,0%;
}
 
    .cnt-conwi{
    background: url(images/wedding-min.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 90%,0%;
}
    
}
@media(min-width:900px){
    .bxsh{
    
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content: center;
}
}

.frmgrp-cnt {
    background: #f5f5f5;
}
/*ftr from*/

.fot-hed {
    margin: 50px 0px;
}
