@media (max-width:600px){
        .so-cap h1{
    font-size: 28px !important;
    position: relative;
    color: #fcfcfc;
    width: 300px !important;
            text-align: center;
}
}
@media (max-width:320px){
        .so-cap h1{
    font-size: 22px !important;
    position: relative;
    color: #fcfcfc;
    width: 300px !important;
            text-align: center;
}
}
.so-ban{
    position: relative;
    height: auto;
    overflow: hidden;
}
.so-ban img{
    width: 300%;
    
}
.so-cap h1{
    font-size: 20px;
    position: relative;
    color: #fcfcfc;
}
.so-cap{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
.so-lne{
    border:2px solid #9b3236;
    width:40px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,50%);
}
@media(min-width:600px){
    .so-cap{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
    .so-ban{
    position: relative;
    height: auto;
    overflow: hidden;
}
    @keyframes imgso{
    
    from {width:130%;opacity: 0;}
    to {width: 120%;opacity:1;}
    
    
    }
    
.so-ban img{
    width: 120%;
    transition: width 1s;
    animation: imgso 2s;
    
}
    .so-cap h1{
        font-size:35px;
       width: 200%;
    }
    .so-lne{
    border:2px solid #9b3236;
    width:80px;
    left: 50%;
    position: absolute;
}
}
@media(min-width:700px){
    .so-cap{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
    .so-ban{
    position: relative;
    height: 300px;
    overflow: hidden;
}
/*.so-ban img{
    width: 100%;
}*/
}
@media(min-width:900px){
    .so-ban{
    height:500px;
    }
     .so-cap{top:200px;}
}

/*sec2*/
.relimg img {
    width: 50%;
    display: block;
    margin: auto;
}
.fn-lst{
    position: relative
}

h2{
    font-weight: 500;
    font-size: 25px;
    color: #454545;
}
.sec2-hd{
    text-align: center;
}
.sec2-hd h2{
    color: #454545;
    font-weight: 500;
}
.sec-2 p{
    padding: 10px;
    text-align: center;
    color: #72727291
}

@media(min-width:900px){
    .sec-2{
        padding: 0 50px;}
  
}
@media(min-width:600px){
    .relimg img {
    width: 20%;
    display: block;
    margin: auto;
}
    .sec-2{
        position: relative;
    }
    @keyframes sec{
        0%{top:100px;opacity: 0;}
        100%{top:0px;opacity: 1;}
    }
}

/*sec2*/
.manage{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    margin-bottom: 50px;
   
}
.manage *{
    box-sizing: border-box;
}
.ma-rder{
    order: 2;
}
.mangimg{
    width:100%;
    height:300px;
   
}
/*.maimgcont{
    background: url('images/home1.jpg') no-repeat;
    background-size:cover;
    height: 100%;
}*/
.lmg1{
    background: url('images/ban%20(4).jpg') no-repeat;
    background-size:cover;
    height: 100%;
}
.lmg2{
    background: url('images/ban%20(3).jpeg') no-repeat;
    background-size:cover;
    height: 100%;
}
.lmg3{
    background: url('images/ban%20(9).jpeg') no-repeat;
    background-size:cover;
    height: 100%;
}
.lmg4{
    background: url('images/ban%20(3).jpg') no-repeat;
    background-size:cover;
    height: 100%;
}
.lmg5{
    background: url('images/ban%20(8).jpeg') no-repeat;
    background-size:cover;
    height: 100%;
}
.mnghed{
    display: flex;
    flex-direction: row;
    margin: 10px;
  justify-content: center;
}
.ma-num{
    font-size: 40px;
    font-weight: 800;
    transform: rotate(-90deg);
    color: #45454578;
}
.ma-bar{
    /*border: 1px solid #45454578;*/
    width: 10px;
    background-color: #45454578;
}
.ma-title{
    padding: 0px 5px;
}
.ma-title h1{
    font-size: 16px;
    position: relative;
    
     margin: 25px 0px;
}
.ma-para{
    text-align: center
}

@media(min-width:600px){
    .manage{
    display: flex;
    flex-direction: row;
   margin-bottom: 0px;
    }
    .mnghed{
        justify-content: flex-start;
    }
    .mangimg{
        width: 50%;
    }
    
    .mangtxt{
        width: 50%;
        padding: 20px;
    }
    .ma-para{
    text-align: left;
}
   .mnghed{
       margin: 0;
    }
    
    .ma-rder{
    order: -1;
}
   
}

@media(min-width:700px){
    .sld{
        background: #fcfcfc;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
        animation: mamove 1s;
        animation-fill-mode: forwards;
        right: 0px;
      display: none;
    }
    .sldh2{
        display: none;
    }
    .ma-title{
        position: relative;
        padding: 0px 10px;
    }
    .ma-num{
        position: relative;
        display: none;
    }
    .ma-bar{
        display: none;
    }
    @keyframes manum{
        0%{left:-50px;opacity: 0;}
        100%{left:0px;opacity: 1;}
    }
    @keyframes mamove{
        0%{display: block; width: 100%;}
        100%{width: 0%;}
    }
    @keyframes mabar{
        0%{height:0px;opacity: 0;}
        100%{height:72px;opacity: 1;}
    }
}
@media(min-width:800px){
    .mangimg{
        width: 50%;
       height: 400px;
    }
    .ma-num{
        font-size: 60px;
    }
    .ma-title h1{
    font-size: 25px;
        position: relative;
        
     margin: 25px 0px;
}
     .mnghed{
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;
        width:360px;*/
         
    }
    .ma-para{
        font-size: 18px;
    }
    .mangtxt{
        padding: 50px;
    }
    
}
.a-con{
    position: relative;
}
.galar-main{
    display: flex;
}
.gala-hd,.gala-para{
    text-align: center;
}
.gala-act{
    display: none;
}
.gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        animation: fun 1s;
        position: relative;
    }
    .gala-imgs img{
        width: 150px;
        vertical-align: middle;
        height: 100%;
    }
    galar-main{
        margin: 0
    }
    
.gala-cape{
    position: absolute;
   left: 10px;
    opacity: 1;
    transform: scale(0.8);
}
.gala-cape .cape-img{
    width: 20px;
    position: relative;
    display: block;
    margin: auto;
    
}
.gala-cape .cap-hd1 p{color: #fcfcfc;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    
}
.gala-cape .cap-hd1 h3{text-align: center;margin: 0px;font-size: 15px;color: #fcfcfc}
       .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
           font-size: 15px
}
@media(min-width:600px){
    .gala-act{
    display: none;
}
.gala-hd,.gala-para{
    text-align: center;
    margin-top: 30px;
}
    .gala .a-con {
   
    }
    
.gala-act p{
    font-size: 15px;
    font-weight: 600;
   
}
.galar-main{
    display: flex;
}
    .gala-para{
         width: 400px;
        margin: auto
    }
    .gala-act{
        display: none;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
    }
    .gala-act p {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
padding: 5px 0;
        cursor: pointer;
        
}
.gala-act p:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #993233;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.gala-act p:hover:before, .gala-act p:focus:before, .gala-act p:active:before {
  right: 50%;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        animation: fun 1s;
            position: relative;
    }
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    galar-main{
        margin: 0
    }
    
.gala-cape{
    position: absolute;
    /* top: 60px; */
    left: -10px;
    opacity: 1;
    transform: scale(0.8);
}
.gala-cape .cape-img{
    width: 30px;
    position: relative;
    display: block;
    margin: auto;
    
}
    .gala-imgs a{
        width: 25%;
    }
.cap-hd1{
    padding: 0px 5px;
}
.cap-hd1 h3,.cap-hd1 p{
    color: #fcfcfc;
    margin: 0;
    text-align: center
}
.gala-cape .cap-hd1 p{
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    
}
}

@media(min-width:700px){
    .gala-act{
    display: none;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: flex-start;
    }
    .gala-imgs a{
        width: 25%;
    }
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    .gala-act{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
        
    }
    
}
@media(min-width:700px){
    .gala-act{
    display: none;
}
    .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
}
@media(min-width:850px){
    .gala-act{
    display: none;
}
    .gala-cape {
    position: absolute;
    left: 0px;
    opacity: 1;
        top: 30px;
}
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
}
    .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
}
@media(min-width:1000px){
    .gala-cape {
    position: absolute;
    left: 20px;
    opacity: 1;
    top: 40px;
    margin: auto;
    }
        .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
    .gala-cape cap-hd1 h3, .gala-cape cap-hd1 p {font-size: 20px}

}
@media(min-width:1100px){
    .gala-cape {
    position: absolute;
    left: 30px;
    opacity: 1;
    top: 50px;
    margin: auto;
         transform: scale(1);
    }
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    
}
}
@media(min-width:1250px){
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    .gala-cape {
    position: absolute;
    left: 50px;
    opacity: 1;
    top: 70px;
    margin: auto;
    }
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    
}
    
}

/*gallery*/

.frnt{
    background:  url(images/Mic%20icon.svg) no-repeat;
    background-size: cover;
}