@media (max-width:600px){
        .so-cap h1{
    font-size: 28px !important;
    position: relative;
    color: #fcfcfc;
    width: 300px !important;
            text-align: center;
}
}
@media (max-width:320px){
        .so-cap h1{
    font-size: 22px !important;
    position: relative;
    color: #fcfcfc;
    width: 300px !important;
            text-align: center;
}
}
.so-ban{
    position: relative;
    height: auto;
    overflow: hidden;
}
.so-ban img{
    width: 300%;
    
}
.so-cap h1{
    font-size: 20px;
    position: relative;
    color: #fcfcfc;
}
.so-cap{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
.so-lne{
    border:2px solid #9b3236;
    width:40px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,50%);
}


@media(min-width:600px){
    .so-cap{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
    .so-ban{
    position: relative;
    height: auto;
    overflow: hidden;
}
    @keyframes imgso{
    
    from {width:130%;opacity: 0;}
    to {width: 120%;opacity:1;}
    
    
    }
    
.so-ban img{
    width: 120%;
    transition: width 1s;
    animation: imgso 2s;
    
}
    .so-cap h1{
        font-size:35px;
       width: 200%;
    }
    .so-lne{
    border:2px solid #9b3236;
    width:80px;
    left: 50%;
    position: absolute;
}
}
@media(min-width:700px){
    .so-cap{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
    .so-ban{
    position: relative;
    height: 300px;
    overflow: hidden;
}
/*.so-ban img{
    width: 100%;
}*/
}

@media(min-width:900px){
    .so-ban{
    height:500px;
    }
    .so-cap{top:220px;}
}
/*.so-ban{
    position: relative;
}
.so-ban img{
    width: 100%;
}
.so-cap h1{
    font-size:16px;
    position: relative;
    color:#fcfcfc;
}
.so-cap{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
.so-lne{
    border:2px solid #9b3236;
    width:40px;
    left: 35px;
    position: absolute;
}
@media(min-width:600px){
    .so-cap{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
        
}
    .so-cap h1{
        font-size:35px;
    }
    .so-lne{
    border:2px solid #9b3236;
    width:80px;
    left: 85px;
    position: absolute;
}
}*/

/*sec2*/

.relimg img {
    width: 50%;
    display: block;
    margin: auto;
}
.fn-lst{
    position: relative
}
.baloon{
    position: absolute;
    display: none
}
.baloon img{
    width: 50%;
    position: relative;
    left: 30px;
    top: -160px;
}
.baloon2{
    position: absolute;
    display: none;
}
.baloon2 img{
    width: 50%;
    position: relative;
    top: -160px;
     right: -180px;
}

h2{
    font-weight: 500;
    font-size: 25px;
    color: #454545;
}
.sec2-hd{
    text-align: center;
}
.sec2-hd h2{
    color: #454545;
    font-weight: 500;
}
.sec-2 p{
    padding: 10px;
    text-align: center;
    color: #72727291
}

@media(min-width:900px){
    .sec-2{
        padding: 0 50px;}
    
        
  
}
@media(min-width:1060px){
    .baloon{
    position: absolute;
           display: block;
}
.baloon img{
    width: 50%;
    position: relative;
    left: 30px;
    top: -160px;
}
.baloon2{
    position: absolute;
     display: block;
    right: 0px;
}
.baloon2 img{
    width: 50%;
    position: relative;
    top: -160px;
    right: -180px;
    
}
}
/*sec2*/
/*few*/

.few{
    text-align: center;
    margin: 10px;
}
.info-ev img{
    width: 100px;
}
.few p{
    margin: 10px auto;
}
@media(min-width:600px){
    .few p{
   width:500px;
    margin: 10px auto;
}
    .relimg img {
    width: 20%;
    display: block;
    margin: auto;
}
}
/*few-end*/
/*function ban*/

.img-fun .fun-imgss{
    width:180%;position: relative;
}
.img-fun{
  position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    vertical-align: middle;
}
.funban{
    padding: 10px ;
}
.info-ev{
    text-align: center;
    /*border: 2px solid #f1edecd9;*/
    background-color: #f1edecd9;
    margin: 0px 10px;
    padding: 5px;
    position: absolute;
    top: 0%;
    height: auto;
}
.ev1-inf{
    left: 10px;
}

@media(min-width:500px){
    .info-ev{
       width: 300px;
        height: auto;
        right: 10px;
    }
    .icon-bth{
    position: static !important;
    
}
    .img-fun{
   position: relative;width: 100%; height: auto;overflow: hidden;
;}
    .img-fun .fun-imgss{
    width:100%;position: relative;top: -50px;
}

}
@media(min-width:600px){
    .info-ev img {
    width: 110px;
}
    .info-ev h1{
        font-size: 30px;
        font-weight: 700;
    }
    .info-ev{
       width: 300px;
        height: auto;
        right: 10px;
        padding: 10px;
    }
    .info-ev p{
        font-size:18px;
        padding: 10px;
        font-weight: 300;
    }
.img-fun{
   position: relative;width: 100%; height: auto;overflow: hidden;
;}
    .img-fun .fun-imgss{
    width:100%;position: relative;top: -50px;
}
}
@media(min-width:700px){
    .info-ev{
       width: 300px;
        height: auto;
        right: 200px;
        padding: 10px;
        opacity: 0;
    }
    .ev1-inf{
    left: 200px;
}

    @keyframes rg{
        0%{right:200px;opacity: 0;}
        100%{right:10px;opacity: 1;}
    }
    @keyframes lg{
        0%{left:200px;opacity: 0;}
        100%{left:10px;opacity: 1;}
    }
    .info-ev p{
        font-size:18px;
        padding: 10px;
        font-weight: 300;
        margin: 0;
    }
.img-fun{
   position: relative;width: 100%; height: auto;overflow: hidden;
;}
    .img-fun .fun-imgss{
    width:100%;position: relative;top: -50px;
}
}
@media(min-width:900px){
    .info-ev{
        height: auto;
        padding-bottom: 100px;
    }

    .funban{
    padding: 10px 60px;
}
    .img-fun{
   position: relative;width: 100%; height: auto;overflow: hidden;
;}
    .img-fun .fun-imgss{
    width:100%;position: relative;top: -50px;
}
}
@media(min-width:1000px){
    .info-ev{
        height: auto;
    }

    .funban{
    padding: 10px 60px;
}
    .img-fun{
   position: relative;width: 100%; height: 450px;overflow: hidden;
;}
    .img-fun .fun-imgss{
    width:100%;position: relative;top: -50px;
}
}
/*function ban*/
/*gallery*/

.a-con{
    position: relative;
}
.galar-main{
    display: flex;
}
.gala-hd,.gala-para{
    text-align: center;
}
.gala-act{
    display: none;
}
.gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        animation: fun 1s;
        position: relative;
    }
    .gala-imgs img{
        width: 150px;
        vertical-align: middle;
        /*height: 100%;*/
    }
    galar-main{
        margin: 0
    }
    
.gala-cape{
    position: absolute;
   left: 10px;
    opacity: 1;
    transform: scale(0.8);
}
.gala-cape .cape-img{
    width: 20px;
    position: relative;
    display: block;
    margin: auto;
    
}
.gala-cape .cap-hd1 p{color: #fcfcfc;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    
}
.gala-cape .cap-hd1 h3{text-align: center;margin: 0px;font-size: 15px;color: #fcfcfc}
       .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
           font-size: 15px
}
@media(min-width:600px){
    .gala-act{
    display: none;
}
.gala-hd,.gala-para{
    text-align: center;
}
    .gala .a-con {
   
    }
    
.gala-act p{
    font-size: 15px;
    font-weight: 600;
   
}
.galar-main{
    display: flex;
}
    .gala-para{
         width: 400px;
        margin: auto
    }
    .gala-act{
        display: none;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
    }
    .gala-act p {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
padding: 5px 0;
        cursor: pointer;
        
}
.gala-act p:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #993233;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.gala-act p:hover:before, .gala-act p:focus:before, .gala-act p:active:before {
  right: 50%;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        animation: fun 1s;
            position: relative;
    }
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    galar-main{
        margin: 0
    }
    
.gala-cape{
    position: absolute;
    /* top: 60px; */
    left: -10px;
    opacity: 1;
    transform: scale(0.8);
}
.gala-cape .cape-img{
    width: 30px;
    position: relative;
    display: block;
    margin: auto;
    
}
    .gala-imgs a{
        width: 25%;
    }
.cap-hd1{
    padding: 0px 5px;
}
.cap-hd1 h3,.cap-hd1 p{
    color: #fcfcfc;
    margin: 0;
    text-align: center
}
.gala-cape .cap-hd1 p{
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    
}
}

@media(min-width:700px){
    .gala-act{
    display: none;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: flex-start;
    }
    .gala-imgs a{
        width: 25%;
    }
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    .gala-act{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
        
    }
    
}
@media(min-width:700px){
    .gala-act{
    display: none;
}
    .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
}
@media(min-width:850px){
    .gala-act{
    display: none;
}
    .gala-cape {
    position: absolute;
    left: 0px;
    opacity: 1;
        top: 30px;
}
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
}
    .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
}
@media(min-width:1000px){
    .gala-cape {
    position: absolute;
    left: 20px;
    opacity: 1;
    top: 40px;
    margin: auto;
    }
        .gala-cape {
    position: absolute;
    left: 0px;top: 10px;left: 50%;transform: translateX(-50%);
    opacity: 1;
}
    .gala-cape cap-hd1 h3, .gala-cape cap-hd1 p {font-size: 20px}

}
@media(min-width:1100px){
    .gala-cape {
    position: absolute;
    left: 30px;
    opacity: 1;
    top: 50px;
    margin: auto;
         transform: scale(1);
    }
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    
}
}
@media(min-width:1250px){
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    .gala-cape {
    position: absolute;
    left: 50px;
    opacity: 1;
    top: 70px;
    margin: auto;
    }
    .gala-cape .cap-hd1 p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    
}
    
}

/*gallery*/
/*above 1700*/
@media(min-width:1700px){
    .img-fun {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}
    .few h2{
    font-size: 30px;
}
    .info-ev img {
    width: 150px;
}
    .info-ev p {
        font-size: 20px;
    }
}

/*above 1700*/