

textarea:focus, input:focus,select:focus{
    outline: none;
}


.main_con{width: 100%; height: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.map,.info{width: 100%;height: 500px;border: 1px olid black; }
.info{height: auto;background-color: #e9f9f3;padding: 52px 5px;}
.map{order: 0;height: 400px; border: 1px olid black;overflow: hidden;display: flex;flex-direction: column;justify-content: flex-start;align-items: left;padding-top: 50px;background-image: url(images/carm.jpg);background-repeat: no-repeat;background-size: cover;}
.map h1{color: #25C485;text-align: left;font-size: 40px;padding-left: 10px;}
.map h1 span{position: relative;left: 50px;}
.map p{font-size: 22px;color: #fcfcfc;padding-left: 20px;font-size: 25px;padding-top: 20px;}
.reach{ display: flex;flex-direction: column;justify-content: center;align-items: center}
.reach img{width: 50px;padding-bottom: 10px}
.reach .rbox{display: flex;flex-direction: column;justify-content: center;align-items: center;margin: 5px auto;}
.reach div p{text-align: center;}
.reach h1,.let h1{padding-bottom: 10px;font-size: 20px;text-align: center;padding-top: 15px;}







.form_cont{ 
    width: 100%; margin: auto; margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px olid black;

    padding: 20px 0px;
}



.fields{ width: 100%; display: flex; justify-content: center; flex-direction: column;   height: auto;}


#cletf1, #cletf2, #cletf3,#cletf4{display: flex; justify-content: center; align-items: center; width: 90%; margin: auto;margin: 10px;}
#clet5 { width: 90%; height: 50px;display: flex; justify-content: center; align-items: center;position: relative;left: 10px;flex-direction: column;align-items: flex-start;justify-content: center;position: relative;left: 15px;margin-bottom: 20px;}
.custom {
    border: 1px solid #25C485;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;width:230px; 
}

#cletf1 input, #cletf2 input, #cletf3 input,#cletf4 input{ width: 95%; height: auto; padding: 13px 0px; padding-left: 45px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); font-size: 18px; color: #2B2D42;border: 1px solid rgba(37,196,133,0);
transition: width 0.3s, box-shadow 0.3s,border 0.5s;
}
input::placeholder{color: #717171; font-size: 18px;padding-left: 0px; }


input::placeholder{color: #717171; font-size: 16px; }
#want_ex option,#cletf2 select{color: #717171; font-size: 16px;}
textarea::placeholder{color: #717171; font-size: 16px; }

/* inter */
#cletf1 input{background-image: url(images/user.svg);background-size: 35px;}
#cletf2 input{background-image: url(images/email.svg);background-size: 35px;}
#cletf3 input{background-image: url(images/phone.svg);background-size: 35px;}
#cletf4 input{background-image: url(images/loc.svg);background-size: 35px;}


/* inter */
#cletf1 input:focus{border: 1px solid rgba(37,196,133,1);}
#cletf2 input:focus{border: 1px solid rgba(37,196,133,1);}
#cletf3 input:focus{border: 1px solid rgba(37,196,133,1);}


#cletf4 input:focus{border: 1px solid rgba(37,196,133,1);}

#cletf6{  display: flex; justify-content: center; align-items: center;}
#cletf6{ width: 90%; margin-top:5px;padding-left: 25px; position: relative; left: -40px;
}



#ffsubmit{ border-style: none; border-radius: 5px;  color:white;background-image: url(images/mailsend.png); font-size: 22px;  height: 40px; background-color:#41cab1;  background-repeat: no-repeat; background-position: 93px 10px; width: 130px; padding-right: 30px; transition: padding-right 0.5s, background-position,0.5s; height: 50px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;top: -5px;right: -30px;
    
  

}

#ffsubmit:hover{ padding-right: 43px; background-position: 97px 10px;}

/* end:form*/
.cont_con *{border: 1px olid}

#carhd,#carp{position: relative;left: -80px;opacity: 0;transition: left 1s, opacity 1s; }


@media screen and (min-width:900px){
    .main_con{display: flex;flex-direction: row}
    .map{order: -1;width: 150%; height: 625px;}
    
    .map h1{font-size: 60px;padding-left: 10px;padding-top: 50px;}
.map h1 span{position: relative;left: 50px;}
.map p{color: #fcfcfc;padding-left: 20px;font-size: 35px;padding-top: 20px;padding-left: 10px;padding-right: 5px;}0
    
.reach{width: 100%;}
.reachtxt{ display: flex;width: 100%;}
.rbox{width: 140px;}
    
    .cont_con{display: flex;flex-direction: row;}
    .you,.we{padding-top: 20px;padding-bottom: 20px}
    .cinfo{padding-top: 80px; display: flex;flex-direction: row;}
    .cinfo1{width: 50%;}
    .cinfo1 div,.cinfo2 div{padding-bottom: 50px;}
    .cinfo2{width: 50%;}
    .form{}
    .set12{display: flex;flex-direction: column;}
    .set3{display: flex;flex-direction: column;width: 100%;position: relative;left: px}
    #clet5 { height: 70px;width: 65%;border: 1PX OLID}
    
    #cletf6{width: 100%;position: relative;left: -20px;padding-left: 0px}
    
}




