
.onpage{background-image: url(images/onmg.jpg);background-repeat: no-repeat;background-size: 1800px 1000px;background-position: 0% 88% ;height: 550px;;position: relative;border: 1px olid}
.onpage h1{color: #FDE74C;text-align: left;font-size: 40px;padding-left: 10px;padding-top: 50px;}
.onpage h1 span{position: relative;left: 50px;}
.onpage p{color: #fcfcfc;padding-left:10px;font-size: 21px;padding-top: 20px;text-align: justify;padding-right: 10px}




.emg{display: none;}
@media screen and (min-width:930px){
    .emg{display: block;width: 450px;height: 450px;border: 1px olid;position: absolute;right: 100px;bottom: 50px;border-radius: 5px;overflow: hidden;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);transition: box-shadow 1s;}
    .emg img{width: 100%;}
    .onpage h1{font-size: 70px;}
    .onpage p{font-size: 21px;padding-top: 20px;width: 400px;}
    .onpage{background-size: 1800px 1000px;background-position: 80% 60% ;height: 600px;;padding-left: 30px;border: 1px olid }
    .overlay{width: inherit;height:inherit;position: absolute;background-color: #fcfcfc;left: 00%;transition: left 1s;left:00%}

}

/*median*/

.service{width: 100%;height: auto;padding-top: 20px;margin: 40px 0px;}

.service h1 img,.work h1 img,.pl1 h1 img{width: 50px;position: relative;top:5px; }
.work h1 img{top: 9px}
.service h1,.work h1,.pl1 h1{text-align: center;color:#25C485; }
.group{width: 100%; height: auto;display: flex;justify-content: flex-start;align-items: }
.group{position: relative;top: 70px;opacity: 0; transition: opacity 1s,top 1s;}
.g1,.g2{width: auto;height: auto;border: 1px olid ;margin-left: 5px;width: 49% }
.g21,.g22,.g11,.g12{width: auto;height: auto;display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;border: 1px olid;margin-right:0px;}

.point{display: flex;justify-content: center;align-items: center;margin: 5px 0px;position: relative;}
.point *{border: 1px olid}
.bullet{width: 10px;height: 10px; border-radius: 50%; border:1px solid #25C485;margin-right: 5px;position: absolute;left: 0px}

.point p{padding-left: 15px;font-size: 15px;}

@media screen and (min-width:600px){
    .g1,.g2{width: auto;margin: 5px;}
    .group{justify-content: center;align-items: center;}
    .point p{font-size: 20px;margin: 15px 0px; }
    .g1{display: flex;flex-direction: row;margin-right: 20px;}
        .g2{display: flex;flex-direction: row;}
    .g21,.g22,.g11,.g12{margin-right: 20px;}
}

/* end */




#view{font-size: 30px;color: #547A96; text-decoration: underline;font-weight: 600;position: absolute;bottom: 20px; right: 30px; width: auto;font-family: 'Open Sans', sans-serif;border:1px olid}
#view span{background-image: url(images/right.png);display: inline-block;width: 32px;height: 32px;position: left;background-size: cover;background-position: 0px 5px; background-repeat: no-repeat;transition: background-position 0.5s;}
#view:hover #specs{background-position: 8px 5px;}



.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preload.gif) center no-repeat #f9f9f9;background-size: 70px;background-color: white;
    
}
.se-pre-con img{width: 250px;;margin: auto;display: block;margin-top: 165px}
@media screen and (max-width:480px)
    {
      .se-pre-con img{width: 200px;;margin: auto;display: block;margin-top: 100px}
        .se-pre-con {background-size: 60px;background-position: 50% 200px;}    
        
}
/* end pre-load screen*/



.bi_close{ cursor: pointer;display: none; position: absolute; right: 40px; margin-top: 10px;}
.bi_close_p{cursor: pointer;  position: absolute; right: 20px; margin-top: 90px;}

/* image modal */

.bi_over{ position: fixed; width: 100%; background-color: rgba(0,0,0,0.9);  height: 100%; display: none; top: 00px;z-index: 6;  }



.ex_p{ position: fixed;  width: 100%; top:120px; height: auto; display: flex; z-index: 6;}
.ex_p img{  height: auto; width:28%;  left:20px; position: relative; top:-310px;margin: auto; }



/* image modal */




#po_cont{ display: flex; flex-direction: column; }
.po_one{order:-2;}
.po_two{order:-1;}

#po_ex_h{ width: 270px; }
#po_ex_h h1{ left: 5px;}
#po_ex_style{left:-68px;}
.po_tab{ width: 320px; height: 60px; margin: auto; display: flex; border: 1px olid black; margin-top: 30px;margin-bottom: 15px; justify-content: space-around; }
.po_tab a{ display: block; }
.po_tab a h1{width: 160px; margin: 0px;  font-size: 33px;display: flex; justify-content: center; align-content: center; color: #547A96;  box-sizing: border-box;}
#po_p2{ color:#b5b5b5; padding-top: 8px;height: 60px; border-bottom: 5px solid #b5b5b5;}
#po_p1{ padding-top: 8px;height: 60px;border-bottom: 5px solid #547A96;}

/*START: desktop arrows*/
.parrow{ width: 130px;border: 1px olid black; height: 64px; display: flex;justify-content: space-between; position: absolute; margin-left: -65px;left:50%;bottom: -5px; }
.left{ cursor: pointer; width: 50px; height: 50px; border-radius: 50%; border: 1px olid black;  box-sizing: border-box;background-image: url(images/left.png); background-position: center; background-repeat: no-repeat;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2); transition: box-shadow 0.2s;position: relative; }

.plpress{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 2px 20px 0 rgba(0, 0, 0, 0.07);}

.right{cursor: pointer;width: 50px; height: 50px; border-radius: 50%; border: 1px olid black;  box-sizing: border-box;background-image: url(images/right.png); background-position: center;  background-repeat: no-repeat;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2); transition: box-shadow 0.2s; position: relative;}

.prpress{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 2px 20px 0 rgba(0, 0, 0, 0.07);}

/* END: desktop arrows*/

/* second portrain layer*/










#pl2pics .po_wide_p{width: 27%; position: fixed;z-index: 7; margin: auto; top:10%; left:35%; }

/* second portrain layer*/

#po_cont *{border: 1px olid black}
#po_cont{margin-bottom: 20px;}
.lhead_cont{box-sizing: border-box;}
.lhead_cont h1{color:#717171; box-sizing:border-box;  position: relative; top: 0px;text-align: center;}
.lhead_cont p{color:#717171; box-sizing:border-box;  position: relative; top: 0px;font-size: 20px;text-align: center;}
.lhead_cont div{overflow: hidden; border: 1px olid black; }
#head_ex{border: 0px;}
.headline{border-bottom: 3px olid #547A96;display: inline-block; margin: auto;border: 1px olid black;position: relative; left:50%;margin-left: -95px; border-bottom: 3px solid #547A96}
.headline_ex{margin-left: -40px;}
/*start: land layer*/

.pl1{  box-sizing: border-box; overflow: hidden; width: 100%; height: 515px; margin: 3px auto; border: 1px olid black; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;; box-sizing: border-box; position: relative; }
.pl1 h1, .pl1 p{margin: 0px;border: 1px olid black;}
.pl1pics{
    
    width: 298%; height: 400px;border: 1px olid black; display: flex;align-items: center; box-sizing: border-box;
align-items: center; margin-bottom: 0px; position: relative;  transition: margin-left 1s, left 1s;  left:0% ;}
.limage{margin: 10px; width: 32%;; height: 350px; border: 1px olid black;position: relative; background-color: cadetblue;overflow: hidden;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  border-radius: 10px; }
.limage img{height: 100%;;box-sizing: border-box; border-radius: 10px;  }
.po_land img{position: relative;}
#la1 img{right:
50px}

@media screen and (min-width:900px) and (max-width:1060px){

#la1 img{right:
    100px}}
@media screen and (min-width:450px) and (max-width:900px){

#la1 img{ right:
    -0px}}

@media screen and (min-width:450px) and (max-width:750px){

#la1 img{ right:
    70px}}

@media screen and (min-width:300px) and (max-width:450px){

#la1 img{ right:
    20px}}



#la2 img{right:
20px}
#la3 img{right:
50px}

@media screen and (min-width:900px) and (max-width:1240px){
    #la3 img{right:
140px}    
}

@media screen and (min-width:450px) and (max-width:700px){
    
    #la3 img{right:
130px}    
}

@media screen and (min-width:300px) and (max-width:450px){

#la3 img{ right:
    10px}}

@media screen and (min-width:300px) and (max-width:470px){

#la3 img{ right:
    100px}}
@media screen and (min-width:300px) and (max-width:370px){

#la3 img{ right:
    160px}}


#la4 img{right:
10px}

@media screen and (min-width:900px) and (max-width:1240px){ 
    #la4 img{right:
140px}   
}

@media screen and (min-width:450px) and (max-width:700px){
    
    #la4 img{right:
130px}   
}

@media screen and (min-width:300px) and (max-width:420px){

#la4 img{ right:
    150px}}

#la5 img{right:
10px}

@media screen and (min-width:900px) and (max-width:1240px){ 
    #la5 img{right:
140px}   
}

@media screen and (min-width:450px) and (max-width:700px){
    
    #la5 img{right:
100px}   
}

@media screen and (min-width:300px) and (max-width:420px){

#la5 img{ right:
    100px}}

#la6 img{right:
10px}

@media screen and (min-width:900px) and (max-width:1340px){ 
    #la6 img{right:
105px}   
}
@media screen and (min-width:900px) and (max-width:1090px){ 
    #la6 img{right:
165px}   
}

@media screen and (min-width:450px) and (max-width:800px){
    
    #la6 img{right:
80px}   
}

@media screen and (min-width:450px) and (max-width:620px){
    
    #la6 img{right:
150px}   
}

@media screen and (min-width:300px) and (max-width:460px){

#la6 img{ right:
    110px}}

@media screen and (min-width:300px) and (max-width:370px){

#la6 img{ right:
    180px}}

#la7 img{right:
20px}
#la8 img{right:
0px}
@media screen and (min-width:300px) and (max-width:400px){

#la8 img{ right:
    40px}}


#la9 img{right:
20px}

@media screen and (min-width:300px) and (max-width:440px){

#la9 img{ right:
    120px}}


@media screen and (min-width:450px) and (max-width:620px){
    
    #la9 img{right:
150px}   
}



@media screen and (min-width:900px) and (max-width:1100px){ 
    #la9 img{right:
105px}   
}



#la10 img{right:
25px}

@media screen and (min-width:900px) and (max-width:1200px){ 
#la10 img{right:
155px}
}
@media screen and (min-width:700px) and (max-width:900px){ 
#la10 img{right:
05px}
}


@media screen and (min-width:450px) and (max-width:700px){ 
#la10 img{right:
95px}
}

@media screen and (min-width:300px) and (max-width:400px){ 
#la10 img{right:
145px}
}

#la11 img{right:
15px}

@media screen and (min-width:900px) and (max-width:1060px){ 
#la11 img{right:
65px}
}

@media screen and (min-width:450px) and (max-width:670px){ 
#la11 img{right:
65px}
}

@media screen and (min-width:300px) and (max-width:400px){ 
#la11 img{right:
65px}
}


#la12 img{right:
000px}
#la13 img{right:
100px}

@media screen and (min-width:900px) and (max-width:1280px){ 
#la13 img{right:90px;}
}
@media screen and (min-width:450px) and (max-width:720px){ 
#la13 img{right:95px;}
}

@media screen and (min-width:450px) and (max-width:450px){ 
#la13 img{right: 105px;}
}
@media screen and (min-width:300px) and (max-width:450px){ 
#la13 img{right: 185px;}
}




#la14 img{right:
0px}
#la15 img{right:25px}

@media screen and (min-width:300px) and (max-width:378px){ 
#la15 img{right: 50px}
}

#la16 img{right:
40px}
@media screen and (min-width:900px) and (max-width:1300px){ 
#la16 img{right: 120px}
}

@media screen and (min-width:450px) and (max-width:740px){ 
#la16 img{right: 100px;}
}

@media screen and (min-width:300px) and (max-width:420px){ 
#la16 img{right: 140px;}
}


#la17 img{right:
05px}

@media screen and (min-width:900px) and (max-width:1220px){ 
#la17 img{right: 140px;}
}
@media screen and (min-width:450px) and (max-width:720px){ 
#la17 img{right: 120px;}
}

@media screen and (min-width:300px) and (max-width:470px){ 
#la17 img{right: 100px;}
}



#la18 img{right:
45px}
@media screen and (min-width:900px) and (max-width:1100px){ 
#la18 img{right: 100px;}
}

@media screen and (min-width:450px) and (max-width:630px){ 
#la18 img{right: 90px;}
}
@media screen and (min-width:420px) and (max-width:549px){ 
#la18 img{right: 110px}
}
@media screen and (min-width:300px) and (max-width:419px){ 
#la18 img{right: 120px}
}




.pl1pics .po_wide img{width: auto;height: 80%;; position: fixed;z-index: 7; margin: auto; top:70px; left:15%;  }
/*end: land layer*/
/*start: port layer*/
#player2{  box-sizing: border-box; overflow: hidden; width: 100%; height: 670px; margin: 5px auto; border: 1px olid green; display: flex; flex-direction: column; align-items: ; justify-content: flex-start;; box-sizing: border-box; position: relative;overflow: hidden;}

#pl2pics{
    
    width: 298%; height: 550px;border: 1px olid red; display: flex;align-items: center; box-sizing: border-box; position: relative;  transition: margin-left 1s, left 1s; left: 00%;  }


.pimage{margin: 10px; width: 32%;; height: 500px; border: 1px olid black;position: relative; background-color: cadetblue; overflow: hidden;box-sizing: border-box;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;    position: relative;}

.pimage img{width: 100%;height: auto;}

.pl1pics div{cursor: pointer;}
/*end: port layer*/

/*desktop code*/

.pl1right{-webkit-animation-name: rend;
-webkit-animation-duration: 1s;}
.pl1left{-webkit-animation-name: lend;
-webkit-animation-duration: 1s;}

@keyframes rend{
    
       0% {left: -99.0%;}
     20%{left: -103%;}
    
    100%{left: -99.0%;}
}  
@keyframes lend{
    
    
    0% {left: 99%;}
     20%{left: 103%;}
    
    100%{left: 99%;}
} 
/*desktop code*/


/*desktop code(portrait)*/

.pl2right{-webkit-animation-name: rend_l2;
-webkit-animation-duration: 1s;}
.pl2left{-webkit-animation-name: lend_l2;
-webkit-animation-duration: 1s;}

@keyframes rend_l2{
     
    0% {left: -99.0%;}
     20%{left: -103%;}
    
    100%{left: -99.0%;}

}  
@keyframes lend_l2{
    
    0% {left: 99%;}
     20%{left: 103%;}
    
    100%{left: 99%;}
} 

/*mobile code(portrait)*/






/*START: Mobile arrows*/

.parrow_m{ display: none; width: 130px;border: 1px olid black; height: 64px; display: flex;justify-content: space-between; position: absolute; margin-left: -80px;left:50%;bottom: 0px; z-index: -1;  }
.left_m{  display: none; width: 50px; height: 50px; border-radius: 50%; border: 1px olid black;  box-sizing: border-box;background-image: url(images/left.png); background-position: center; background-repeat: no-repeat;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2); transition: box-shadow 0.2s;position: relative; }

.plpress_m{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 2px 20px 0 rgba(0, 0, 0, 0.07);}

.right_m{ display: none; width: 50px; height: 50px; border-radius: 50%; border: 1px olid black;  box-sizing: border-box;background-image: url(images/right.png); background-position: center;  background-repeat: no-repeat;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2); transition: box-shadow 0.2s; position: relative;}

.prpress_m{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 2px 20px 0 rgba(0, 0, 0, 0.07);}

/* END:Mobile arrows*/


.pl1right_m{-webkit-animation-name: rend_m;
-webkit-animation-duration: 1s;}
.pl1left_m{-webkit-animation-name: lend_m;
-webkit-animation-duration: 1s;}

@keyframes rend_m{
    
    0%{left: -403%;}
     20%{left: -407%;}
    
    100%{left: -403%;}
} 
@keyframes lend_m{
    
    0%{left: 402%;}
     20%{left: 406%;}
    
    100%{left: 402%;}
}
/*mobile code*/
/* mobile portraint design*/



.pl1right_m_p{-webkit-animation-name: rend_m_p;
-webkit-animation-duration: 1s;}
.pl1left_m_p{-webkit-animation-name: lend_m_p;
-webkit-animation-duration: 1s;}

@keyframes rend_m_p{
    
    0%{left: -403%;}
     20%{left: -407%;}
    
    100%{left: -403%;}
   
}  
@keyframes lend_m_p{
 0%{left: 402%;}
     20%{left: 406%;}
    
    100%{left: 402%;}
}

/* mobile portraint design*/
/*mobile media*/


/* tablet design*/




/*START: tablet arrows*/

.parrow_t{ display: none; width: 130px;border: 1px olid black; height: 64px; display: flex;justify-content: space-between; position: absolute; margin-left: -80px;left:50%;bottom: 00px; z-index: -1;   }
.left_t{  display: none; width: 50px; height: 50px; border-radius: 50%; border: 1px olid black;  box-sizing: border-box;background-image: url(images/left.png); background-position: center; background-repeat: no-repeat;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2); transition: box-shadow 0.2s;position: relative; }




.plpress_t{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 2px 20px 0 rgba(0, 0, 0, 0.07);}


.right_t{ display: none; width: 50px; height: 50px; border-radius: 50%; border: 1px olid black;  box-sizing: border-box;background-image: url(images/right.png); background-position: center;  background-repeat: no-repeat;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2); transition: box-shadow 0.2s; position: relative;}

.prpress_t{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 2px 20px 0 rgba(0, 0, 0, 0.07);}

/* END:tablet arrows*/


.pl1right_t{-webkit-animation-name: rend_t;
-webkit-animation-duration: 1s;}
.pl1left_t{-webkit-animation-name: lend_t;
-webkit-animation-duration: 1s;}

@keyframes rend_t{
    
    0% {left: -175%;}
     20%{left: -180%;}
    
    100%{left: -175%;}
}  
@keyframes lend_t{
    
    0% {left: 175%;}
     20%{left: 180%;}
    
    100%{left: 175%;}
}
/* tablet design

/* tablet portrain*/


.pl1right_t_p{-webkit-animation-name: rend_t_p;
-webkit-animation-duration: 1s;}
.pl1left_t_p{-webkit-animation-name: lend_t_p;
-webkit-animation-duration: 1s;}

@keyframes rend_t_p{
    
    0% {left: -175%;}
     20%{left: -180%;}
    
    100%{left: -175%;}
}  
@keyframes lend_t_p{
    
    0% {left: 175%;}
     20%{left: 180%;}
    
    100%{left: 175%;}
}
/* tablet portrait design*/





@media screen and (min-width:450px) and (max-width:900px){
    
   
    .left,.left_m{display: none;}
    .right,.right_m{display: none;}
    .arrow,.parrrow_m{display: none;}
     .left_t{display: inline-block; width: 50px; height: 50px; background-size: 100%; margin-right: 10px;}
    .right_t{display: inline-block;width: 50px; height: 50px; background-size: 100%;}
     .parrow_t{display: block;z-index: 0; width: 120px; height: 60px; bottom: 25px; left: 50%; margin-left: -50px;z-index: 0;}
    .parrow_t{bottom: 30px;}
    #parrow_m_ex{ bottom:-10px;}
    
    #pl2pics .po_wide_p{width: 45%; position: fixed;z-index: 7; margin: auto; top:5%; left:25%; }
  .pl1pics .po_wide img{width: 80%;height: auto; position: fixed;z-index: 7; margin: auto; top:70px; left:1%;  }
    
      
.bi_close_p{  position: absolute; right: 25px; margin-top: 90px; top:-40px; }
    
  /*hide
    .pl1pics img{margin: 0px 1%;width: 48.0%; }
    .pl1pics{left: -150%;}
   
   
    .player4{ margin-top: -60px;}
    
    
    #pl2pics{ left:-99.0%;}
    #pl2pics img{ width: 30.5%; margin: 1.3%;}
    #player2 p{ top:px;}
    #player2{height: 530px; }

    
       .player5{ margin-top: -80px;}
    
    .player3{ top:-50px;}
    .player4{ top:20px;}
    .po_two{top:-20px;}
    
   
    
    #pl2pics .po_wide_p{width: 47%; position: fixed;z-index: 7; margin: auto; top:80px; left:35%; }
    
    
    .pl1pics .po_wide{width: 90%; position: fixed;z-index: 7; margin: auto; top:200px; left:5%;  }
    .bi_close{ cursor: pointer;display: none; position: absolute; right: 20px; margin-top: 140px;}
    
   
    
    /**** working for tablet***/
         
      .pl1 *{border: 1px olid }
    
    
 
    /* end: view all*/
/* start: port*/
    #player2{border: 5px olid red;}

     #pl2pics{width: 450%;height: 480px;}
.pimage{width:50%; height: 450px; }
.pimage img{width: 100%;height: auto;}
    
     #pl2pics{ left:-25%; }
      .pl1pics{ left:-25%; }
       #player2{height: 650px; }
       .po_one p, .po_two p, .po_three p, .po_four p{padding-bottom:   20px}
    #parrow_m_ex{ bottom:10px;}
    /* end: port*/
    
    /* start: land*/
    
    
    
 .pl1pics{width: 450%;height: 320px;}    
.limage{width:50%; height: 300px;}
.limage img{width: auto;height: 100%;}

   
   
    
#view{font-size: 25px;color: #547A96; text-decoration: underline;font-weight: 600;position: absolute;bottom: 50px; right: 30px; width: auto;}
#view span{background-image: url(images/right.png);display: inline-block;width: 32px;height: 32px;position: left;background-size: cover;background-position: 0px 5px; background-repeat: no-repeat;transition: background-position 0.5s;position: relative; top: 5px}
#view:hover #specs{background-position: 8px 5px;}
    
    
    
    
    /* end: land*/
    
}




/* tablet design*/


@media screen and (max-width:450px){
      #po_cont{margin-top: 40px;}
      .pl1 *{border: 1px olid }
    
    /* start: view all*/
    #view{font-size: 15px;bottom: 55px;right: 5px}
#view span{width: 22px; height: 22px;position: relative; top: 3px;}
#view:hover #specs{background-position: 5px 5px;}
    /* end: view all*/
    
    #player2{border: 5px olid red;}
  
    
        
     #pl2pics{width: 905%;height: 350px;;}
.pimage{width:95%; height: 350px; }
.pimage img{width: 100%;height: auto;}
    
     #pl2pics{ left:-0%; }
      .pl1pics{ left:-0%; }
       #player2{ margin-top: 0px;height: 540px; }
       .po_one p, .po_two p, .po_three p, .po_four p{padding-bottom:   20px}
    {padding-bottom:   20px}
    #parrow_m_ex{ bottom:10px;}
    
    
    
 .pl1pics{width: 900%;height: 310px;}    
.limage{width:95%; height: 300px;}
.limage img{width: auto;height: 118%;}

   .player5{ margin-top: 20px;height: 400px;border: 5px olid red;}
   .player3{ margin-top: 2px;height: 400px;border: 5px olid red;}
    .po_four,.po_three{height: 500px}
    
    
    
   
    .po_two p{}
    
    
  

 
    
    .parrow_m{display: block; width: 100px; height: 50px; bottom: 35px; left: 50%; margin-left: -50px;z-index: 1;}
    .left_m{display: inline-block; width: 40px; height: 40px; background-size: 100%; margin-right: 10px;}
    .right_m{display: inline-block;width: 40px; height: 40px; background-size: 100%;}
  
    .pl1 p{font-size: 21px;}
    /*hide*/
    .left,.left_t{display: none;}
    .right,.right_t{display: none;}
    .arrow,.parrrow_t{display: none;}
    /*hide*/
   
   
    
    #po_ex_h h1{left:20px; }
  

 
    .po_tab a h1{ width: 140px; font-size:25px;}
    #po_p1{ height: 55px;}
    #po_p2{height: 55px;}
   


    
  
     #pl2pics .po_wide_p{width: 85%; position: fixed;z-index: 7; margin: auto; top:10%; left:5%; }
   
   
  
.bi_close_p{  position: absolute; right: 25px; margin-top: 50px; top:-40px; }
    .bi_close_p img{  width: 40px; height: 40px; }
    
   
    .pl1pics .po_wide img{width: 90%;height: auto; position: fixed;z-index: 7; margin: auto; top:70px; left:1%;  }
    
    .bi_close{ display: none; position: absolute; right: 20px; margin-top: 10px;}
    .bi_close img{ width: 40px; height: 40px;}
       
     #jul_ex{ padding-right: 10px;padding-left: 50px;}  
} 


@media screen and (min-width:900px) and (max-width:1100px){


.pimage img{width: 130%;height: auto;}
    
}
 

@media screen and (min-width:550px) and (max-width:680px){
    .pimage img{width: 125%;height: auto;}
    
}  
@media screen and (min-width:450px) and (max-width:550px){
    .pimage img{width: 155%;height: auto;}
    .parrow_t{bottom: 30px;}
    #po2{position: relative; left: -100px;}
    #po3{position: relative; left: -100px;}
    #po5{position: relative; left: -50px;}
    #po9{position: relative; left: -100px;}
      #po12{position: relative; left: -100px;}
    
      #pl2pics .po_wide_p{ margin: auto; top:10%; left:10%; }
   
}  



#player2,.player5{display: none;}

/* s: form*/

#reghd,#regp{position: relative;top: 50px;opacity: 0; transition: opacity 1s,top 1s;}
#regmg{position: relative;top:-50px;opacity: 0; transition: opacity 1s,top 1s;}



textarea:focus, input:focus,select:focus{
    outline: none;
}


.main_con{width: 100%; height: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.map,.info{width: 100%;height: 500px;border: 1px olid black; }
.info{height: auto;background-color: #e9f9f3;padding: 52px 5px;}
.map{order: 0;height: 250px; border: 1px olid black;overflow: hidden;display: flex;flex-direction: column;justify-content: center;align-items: center;padding-top: 0px;

background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#carhd,#carp{position: relative;left: -100px;opacity: 0;transition: left 1s, opacity 1s; }
.map img{width: 200px;margin: 0px auto;border: 1px olid}
.choose{text-align: left;position: relative;left: -40px}

.map h1{color: #fcfcfc;font-size: 35px;padding-left: 00px;}

.map p{color: #fcfcfc;font-size: 20px;padding-top: 0px;padding-bottom: 10px}
.reach{ display: flex;flex-direction: column;justify-content: center;align-items: center}
.reach img{width: 50px;padding-bottom: 10px}
.reach .rbox{display: flex;flex-direction: column;justify-content: center;align-items: center;margin: 5px auto;}
.reach div p{text-align: center;}
.reach h1,.let h1{padding-bottom: 10px;font-size: 20px;text-align: center;padding-top: 15px;}





.detail_ex{text-align: center;margin-top: 15px}
.detail_ex a{color:#25C485 }

.form_cont{ 
    width: 100%; margin: auto; margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px olid black;

    padding: 0px 0px;
}



.fields{ width: 100%; display: flex; justify-content: center; flex-direction: column;   height: auto;}


#cletf1, #cletf2, #cletf3,#cletf4{display: flex; justify-content: center; align-items: center; width: 90%; margin: auto;margin: 10px;}
#clet5 { width: 90%; height: 50px;display: flex; justify-content: center; align-items: center;position: relative;left: 10px;flex-direction: column;align-items: flex-start;justify-content: center;position: relative;left: 15px;margin-bottom: 20px;}
.custom {
    border: 1px solid #25C485;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;width:230px; 
}

#cletf1 input, #cletf2 input, #cletf3 input,#cletf4 input{ width: 95%; height: auto; padding: 13px 0px; padding-left: 45px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); font-size: 18px; color: #2B2D42;border: 1px solid rgba(37,196,133,0);
transition: width 0.3s, box-shadow 0.3s,border 0.5s;
}
input::placeholder{color: #717171; font-size: 18px;padding-left: 0px; }


input::placeholder{color: #717171; font-size: 16px; }
#want_ex option,#cletf2 select{color: #717171; font-size: 16px;}
textarea::placeholder{color: #717171; font-size: 16px; }

/* inter */
#cletf1 input{background-image: url(images/user.svg);background-size: 35px;}
#cletf2 input{background-image: url(images/email.svg);background-size: 35px;}
#cletf3 input{background-image: url(images/phone.svg);background-size: 35px;}
#cletf4 input{background-image: url(images/loc.svg);background-size: 35px;}
.cletf5 input{background-image: url(images/guest.svg)!important;}

/* inter */
#cletf1 input:focus{border: 1px solid rgba(37,196,133,1);}
#cletf2 input:focus{border: 1px solid rgba(37,196,133,1);}
#cletf3 input:focus{border: 1px solid rgba(37,196,133,1);}


#cletf4 input:focus{border: 1px solid rgba(37,196,133,1);}

#cletf6{  display: flex; justify-content: center; align-items: center;}
#cletf6{ width: 90%; margin-top:25px;padding-left: 25px; position: relative; left: -40px;
}



#ffsubmit{ border-style: none; border-radius: 5px;  color:white;background-image: url(images/mailsend.png); font-size: 22px;  height: 40px; background-color:#41cab1;  background-repeat: no-repeat; background-position: 93px 10px; width: 130px; padding-right: 30px; transition: padding-right 0.5s, background-position,0.5s; height: 50px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;top: -5px;right: -30px;

}

#ffsubmit:hover{ padding-right: 43px; background-position: 97px 10px;}

/* end:form*/
.cont_con *{border: 1px olid}



@media screen and (min-width:900px){
    .choose{left: -10px}
    .main_con{display: flex;flex-direction: row;overflow: hidden;border: 1px olid;height: 500px;margin: 70px 0px;}
    .map{order: -1;width: 40%; height: 780px;;transform: rotate()}
    .map img{width: 300px;}
    .map h1{font-size: 60px;padding-left: 10px;padding-top: 50px;}
.map h1 span{position: relative;left: 50px;}
.map p{color: #fcfcfc;padding-left: 20px;font-size: 35px;padding-top: 20px;padding-left: 10px;padding-right: 5px;}0
    
.reach{width: 100%;}
.reachtxt{ display: flex;width: 100%;}
.rbox{width: 140px;}
    
    .cont_con{display: flex;flex-direction: row;}
    .you,.we{padding-top: 20px;padding-bottom: 20px}
    .cinfo{padding-top: 80px; display: flex;flex-direction: row;}
    .cinfo1{width: 50%;}
    .cinfo1 div,.cinfo2 div{padding-bottom: 50px;}
    .cinfo2{width: 50%;}
    .form{}
    .set12{display: flex;flex-direction: row;}
    .set3{display: flex;flex-direction: column;width: 100%;position: relative;left: px}
    #clet5 { height: 70px;width: 65%;border: 1PX OLID}
    
    #cletf6{width: 100%;position: relative;left: -20px;padding-left: 0px}
    
}













/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;padding-left: 50px;font-family: sans-serif;font-size: 18px;padding-top: 3px;margin: 25px 0px; color: #454545;top: -15px
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;padding-left: 20px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;left: 20px;border-radius: 5px
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #25C485;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* e: form*/


/* s: work*/

.work_con{opacity: 0;position: relative;top: 70px;transition: opacity 1s, top 1s;}

.work{width: 100%; height: auto;border: 1px olid;background-image: url(images/workbgm.svg);background-repeat: no-repeat;background-size: cover;background-position: 0% 0px;}
.work_con{display: flex;flex-direction: column;justify-content: space-around;align-items: center;}
.work1,.work2,.work3{width: 90%;height: 310px;border: 1px olid;margin: 20px 0px;border-radius: 10px;background-color: #fcfcfc; box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);position: relative;overflow: hidden}

  
    .work3 img,.work2 img,.work1 img{position: absolute;left: -30px;top: 220px;width: 150px}
    .workp p{color: #454545}
    .workp p span{width: 15px;height: 15px;border: 1px solid #25C485;display: block;position: absolute;border-radius: 50%;left: 8px;}
    .workp{display: flex;justify-content: center;align-items: flex-start;flex-direction: column;padding-left: 30px;padding-right: 5px; margin-top: 10px}
    .workp p{margin: 8px 0px;font-size: 18px;}

@media screen and (min-width:350px){
    
    .work1,.work2,.work3{width: 250px;height: 300px;}
   
    
}

@media screen and (min-width:800px){
     .work3{order: 1;}
    .work2 {order: 2;}
    .work1{order: 3;}
    .work{height: 800px;background-image: url(images/workbg.svg);background-repeat: no-repeat;background-size: cover;background-position: 0% -30px;border: 1px olid;padding-top:50px }
    .work_con{flex-direction: row;justify-content: center;align-items: center;padding-top: 50px;}
    .work1,.work2,.work3{margin: 0px 25px;overflow: hidden;position: relative;}
    .work3{position: relative;top: 200px}
    
     .work2{position: relative;top: 100px}
       .work3 img,.work2 img,.work1 img{position: absolute;left: -30px;top: 210px;width: 150px}
   
    


  

}


/* e: work*/


/* s: why*/



    .why{width: 100%; height: auto;  border:1px olid red;padding-top: 30px;margin-bottom: 50px}
.why h1{color: #25C485;font-size: 25px;text-align: center;margin-bottom: 10px;}
.why1 h1{color: #a0a0a0;font-size: 25px;text-align: center;margin-bottom: 10px;}
.why h1 span{color: #25C485;font-size: 23px}
.why1 h1 span{color: #25C485;font-size: 23px}
.why span img{width: 60px;border: 1px olid;position: relative;left: 0px;top: 10px}
.why1{width: 90%; height: auto;border: 1px olid;border-radius: 20px;margin: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);background-color: #fcfcfc;margin: auto;margin-top: 30px;animation-name: wsani;animation-duration: 1s; animation-fill-mode: forwards;position: relative;}
    
    .why1 img{width: 200px;margin-bottom: 0px;border: 1px olid}
    .why1 p{padding: 5px 15px;padding-bottom: 10px;font-size: 17px;text-align: justify
    }


@media screen and (min-width:600px){

    .why{width: 100%; height: auto;  border:1px olid red;padding-top: 30px;background-image: url(images/whybg.svg);background-repeat: no-repeat;background-position: -400px 100px;transition: background-position 1s;}
.why h1{color: #25C485;font-size: 35px;text-align: center;margin-bottom: 10px;}
.why1 h1{color: #a0a0a0;font-size: 20px;text-align: center;margin-bottom: 10px;}
.why h1 span{color: #25C485;font-size: 23px}
.why1 h1 span{color: #25C485;font-size: 23px}
.why span img{width: 60px;border: 1px olid;position: relative;left: 0px;top: 10px}
.why_cont{width: 100%;margin: auto; height: auto;display: flex;justify-content: space-etween;align-items: center;border: 1px olid yellow;margin-top: 50px;flex-wrap: wrap;}
.why1{width: 300px; height: auto;border: 1px olid;border-radius: 20px;margin: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);background-color: #fcfcfc}
    
    .why1 img{width: 200px;margin-bottom: 0px;border: 1px olid}
    .why1 p{padding: 0px 10px;padding-bottom: 10px;
    }
    
}

@media screen and (min-width:1100px){
    
    .why_cont{width: 80%;}
    .why1{margin: 20px}
}






@media screen and (max-width:599px){

.tswitch,.wswitch{width: 60%; height: 50px;border: 1px olid;margin: auto;margin-top: 30px;display: flex;justify-content: space-between;align-items: center;}
.tswit,.wswit{width: 30px; height: 30px; border-radius: 50%; background-color: #25C485;display: flex;}
.tsin,.wsin{width: 20px; height: 20px;background-color: #25C485;border-radius: 50%;margin: auto;border: 3px solid #fcfcfc}



@keyframes tsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}


@keyframes wsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}

}




/* e: why*/






